@model IEnumerable<RvanDijk.Models.VMReservering>

@{
    ViewData["Title"] = "Index";
}

<h1>Reserveringen</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>Tijdsvak</p>
            </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.KlantNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbbonementNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlantVergoeding)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
