@model IEnumerable<RvanDijk.Models.VMReservering>

@{
    ViewData["Title"] = "Index";
}

<h1>Reserveringen</h1>

<p>
    <a asp-action="Create">Maak nieuwe reservatie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlantNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tijd_Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlantNaam)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tijd_Datum)
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReserveringID })
            </td>
        </tr>
}
    </tbody>
</table>
